/* HELPERS */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* FIX */
.l-box-lrg {
  border: 0;
}

.content-wrapper {
  background: none;
}

.content {
  background: rgba(230,230,240, 0.8);
  min-height: 100vh;
}

.content--dark {
  background: rgba(180,180,190, 0.8);
}

.pure-button {
    background-color: #1f8dd6;
    color: white;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #779;
    border-radius: 5px;
    font-size: 120%;
}

a.pure-button-primary:hover {
  color: #446;
}

.splash-container {
  background-image: url("img/bg.jpg");

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash {
  width: 100%;
  position: initial;
}

.splash-head {
  font-size: 2.8rem;
  font-weight: 800;
  padding: 0;
  border: none;
}

.splash-head .cover, .splash-head .links {
  padding: 10px;
  max-height: 300px;
  padding-bottom: 0;
}

.splash-head .cover img {
  max-height: 280px;
}

.splash-head .links {
  margin: auto;
  display: grid;
}

.splash-subhead {
  text-align: center;
}

.content-wrapper {
  top: 92%;
}

.pure-button-container {
  margin: auto;
  width: 8rem;
  display: block;
}

.splash-head .links a {
  margin: 10px 0;
  text-align: left;
  /*width: 100%;
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4rem;
  font-size: 1.8rem;*/
}