.splash-container {
  background-image: url("img/bg.jpg");

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash {
  height: 70%;
  margin-top: -40px;
}

.splash-head {
  font-size: 20px;
  padding: 20px;
  max-height: 400px;
}

.splash-head .cover, .splash-head .links {
  padding: 10px;
}

.splash-head .cover img {
  max-height: 320px;
}

.splash-head .links {
  margin: auto;
}

.splash-head .links a {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4rem;
  font-size: 1.8rem;
}